body{

     margin: 0%;
     padding: 0%;

}


.sec1{

  display: flex;
  background-image: url(wall.jpeg);
  margin-bottom: 100px;
  
  margin: 10px;

}


.div2 img{

    width: 500px;
    padding: 20px;
    border-radius: 40%;
    position: relative;
    top: 9%;

}

.div2{

   width: 50%;
   margin: 10px;
}

.div1{

 width: 50%;   
 padding: 10px;
 margin: 10px;

}

span{

   color: gold;

}

.div1 p {
 
    color: navy;

}

.div1 h3{

 color: navy;

}

.div1 a{

     background-color: navy;
     width: 80px;
     height: 50px;
     padding: 10px;
     color: white;
     text-decoration: none;
     border-radius: 10px;
}

.div-clear{

      clear: both;

}

.sec2{

    display: flex;
    background-image: url(back2.jpeg);
    margin: 10px;

}

.div3 img{

    width: 500px;
    padding: 20px;
    border-radius: 40%;
    position: relative;
    top: 7%;

     

}


.div4{
     
    width: 50%;
    margin: 10px;
    padding-top: 100px;
    
}

.div4 p{
    
    text-align: justify;
    color: navy;

}


.div4 h3{

     color: plum;

}

.div5 p{

  text-align: center;

}

.div5 small{
    
    text-align: center;

}


.div6{

    display: flex;

}


.in-div1 img{

      width: 100%;
      height: 600px;
      margin: 10px;
      padding-right: 10px;
}

.in-div2 img{

    width: 100%;
    height: 600px;
    margin: 10px;
    padding-left: 10px;

}


.in-div1 p{

     padding: 10px;

}

.in-div2 p{

    padding: 10px;

}